#compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# DS
.DS_Store

# IDE -VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# APP
.env*